<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
    <link rel="stylesheet" href="/public/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <p> Choose action </p>
      <a href="/play_game">Play Game</a>
      <a href="/view_results">View Results</a>
    </div>
  </body>
</html>