<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
    <link rel="stylesheet" href="/public/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h1>You said '<%= word %>'</h1>
      <p>Say somthing new</p>
      <form method="post" action="/update_word">
        <input name="word" type="text">
        <input type="submit" value="Say!">
      </form>
      <p> Choose action </p>
      <a href="/play_game">Play Game</a>
      <a href="/view_results">View Results</a>
    </div>
  </body>
</html>